<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Portfoliosite </title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/et-line.css" rel="stylesheet">
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/assets/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup-iframe.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="cocoon">
                </a>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <a class="btn" href="/logout">Logout</a>
                <a class="btn" href="/account">Account</a>
            </div>
            <!--main menu end -->

            <!--filter menu -->
            <div class="side_menu_section">
                <h4 class="side_title">Filter by category:</h4>
                <ul  id="filtr-container"  class="filter_nav">
                    <li  data-filter="*" class="active"><a href="javascript:void(0)" >all</a></li>
                    <li th:each="menuIt: ${allFolders}" th:data-filter=".+${menuIt.foldername}"> <a href="javascript:void(0)" th:text="${menuIt.foldername}"></a></li>
                </ul>
            </div>
            <!--filter menu end -->

            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <form action="/search">
                    <input type="text" name="srom">
                    <input type="submit" value="Search">
                </form>
            </div>

            <div th:if="${lastMedia.totalPages > 0}" class="pagination d-inline" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/(size=${lastMedia.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==lastMedia.number+1} ? active"></a>

            </div>

            <h1 th:text="${pageTitle}" ></h1>
            <hr>
            <div class="portfolio">
                <div class="container-fluid">
                    <!--=================== masaonry portfolio start====================-->
                    <div class="grid img-container video-container justify-content-center no-gutters">
                        <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>
                        <div th:each="mediaItem: ${lastMedia}" class="grid-item img-container col-sm-12 col-md-6 col-lg-3" th:classappend="${mediaItem.folder.foldername}">

                            <a th:href="'/images/'+${mediaItem.source}" th:title="${mediaItem.title}" th:class="${mediaItem.filetype == '.jpg' || mediaItem.filetype == '.png'} ? 'mfp-image image-link' : 'mfp-iframe iframe-link'">

                                <div class="project_box_one">
                                    <img th:src="'/images/'+${mediaItem.source}" alt="pro1" th:if="${mediaItem.filetype == '.jpg'}"/>
                                    <video> <source th:src="'/images/'+${mediaItem.source}" alt="pro1" th:if="${mediaItem.filetype == '.mp4'}"> </video>
                                    <div class="product_info">
                                        <div class="product_info_text">
                                            <div class="product_info_text_inner">
                                                <i class="ion ion-plus"></i>
                                                <h4 th:text="${mediaItem.title}"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </a>

                        </div>
                    </div>
                    <!--=================== masaonry portfolio end====================-->
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>


<!-- jquery -->
<script src="/assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="/assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="/assets/js/imgloaded.js"></script>
<script src="/assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="/assets/js/main.js"></script>
<!-- Lazyloading -->
<script src="/assets/js/yall.min.js"></script>
</body>
</html>